h3{
    font-size: 1.2rem;
}




@media  screen and (max-width:991px) {
   .nav-toggle {
    display: block;
    margin-right: 25px;
   }

   .main-nav{
    overflow: initial;
   }

   .nav-link{
    position: absolute;
    background-color: white;
    left: -100%;
    top: 100%;
    width: 100%;
    padding-block: 20px;
   }

   .nav-link.active {
    left: 0;
   }

   .nav-link ul{
    flex-direction: column;
   }


   .review-area{
    gap: 15px;
   }

   .review-card{
    width: calc(50% - 10px);
    height: 180px;
   }

   .add-section{
    padding-block: 80px;
   }

}



 @media screen and (max-width:760px) {    
.header-section{
    flex-direction: column-reverse;
}

.up-button{
    width: 100%;
}
.left{
    max-width: 100vw;
    text-align: center;
}  

.product-card{
    min-width: calc(50% - 10px);
}


.big-product-section{
    margin-left: 0;
}

.big-product-container{
    flex-direction: column;
}


.footer-container{
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.link-column{
    align-items: stretch;
}

}



@media screen and (max-width:480px) {
    :root {
        --padding-inline-section:10px;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size:1rem;
    }

    .product-card{
        min-width: 100%;
        gap: 20px;
    }


    .review-card{
        width: 100%;
    }
}
